@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: "Poppins", sans-serif;
}

body{
    margin: 0;
    padding: 0;
}

html{
    margin: 0;
    padding: 0;
    background: black;
}

.MainBody{
    width: calc(21.54cm - 4cm);
    height: 27.90cm;
    border: 1px solid rgba(0,0,0,0);
    margin: 0 auto 0 auto;
    padding: 0 2cm;
    background: white;
}       

h1{
    text-align: center;
}

.date{
    text-align: right;
    margin-right: -1.3cm;
    opacity: 0.6;
}

.foot{
    position: absolute;
    bottom: 0.4cm;
    width: calc(21.54cm - 4cm);
    text-align: center;
}

.line{
    position: absolute;
    bottom: 1.4cm;
    left: 50%;
    transform: translateX(-50%);
    width: 10cm;
    border-bottom: 1px solid black;
}